/* index.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    margin-top: 50px;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: #3498db; /* You can choose any color you like */
    border-radius: 50%; /* Makes it a perfect circle */
    margin: 20px auto; /* Center horizontally */
}
.color-button {
    background-color: #04AA6D; /* Choose your button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.red-button {
    background-color: #e74c3c;
}

.green-button {
    background-color: #2ecc71;
}

.yellow-button {
    background-color: #f1c40f;
}
